*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-family: 'Lato', sans-serif;
}

body{
  background: rgb(32,25,91);
  background: linear-gradient(180deg, rgba(32,25,91,0) 0%, rgba(114,168,219,0.8914916308320203) 50%, rgba(32,25,91,0) 100%);
  color: black;
}